.chartSvg {
  margin-left: 50%;
  transform: translate(-50%);
}

.chartSvg path { 
  stroke: steelblue;
  stroke-width: 2;
  fill: none;
}

.chartSvg .axis path,
.chartSvg .axis line {
  fill: none;
  stroke: grey;
  stroke-width: 1;
  shape-rendering: crispEdges;
}

.chartSvg .legend {
  font-size: 18px;
  font-weight: bold;
  text-anchor: middle;
}